.button {
  font-size: rem(24px);
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: var(--fw-bold);
  color: var(--c-white);
  padding: rem(25px 50px);
  border-radius: rem(12px);
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;

  &:before, &:after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
  
  &:before {
    z-index: -1;
    background-color: var(--c-white);
    border-radius: rem(12px);
    transition: all .3s ease;
    clip-path: circle(0% at 50% 50%);
  }

  &:after {
    z-index: -2;
    background-color: var(--c-text);
    border-radius: rem(13px);
  }

  &:hover {
    color: var(--c-text);
    &:before {
      clip-path: circle(100% at 50% 50%);
    }
  }

  &--dark {
    &:before {
      background-color: var(--c-secondary);
    }
  }

}
