.contact {
  background-color: var(--c-primary);
  padding: rem(70px 0);
  border-top: 1px solid var(--c-light);
  text-align: center;

  &__layout {
    @include container;
  }

  &__title {
    @include heading(2);
    margin: 0 auto;
    margin-bottom: rem(40px);
    max-width: rem(800px);
    
  }

  &__button {
    @extend .button;
    display: block;
    text-align: center;
    transform: scale(.8);
    text-transform: none;
    width: max-content;
    margin: 0 auto;
  }
}