.hero {
  background-color: var(--c-text);
  background-image: url(../images/hero.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: rem(50px 0 500px 0);
  color: var(--c-lighter);

  @include media('>tiny') {
    background-size: auto 500px;
    padding: rem(100px 0 500px 0);
  }

  @include media('>small') {
    background-size: auto 100%;
    padding: rem(100px 0 100px 0);
    background-position: bottom 120%;
  }
  

  @include media('>medium') {
    padding: rem(250px 0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 65% 100%, 0% 100%);
  }

  &__layout {
    @include container;
    
    @include media('>small') {
      display: grid;
      grid-template-columns: width(761, '%') 1fr;
    }
  }

  &__title {
    @include heading(1);
    margin-bottom: rem(20px);
  }

  &__text {
    margin-bottom: rem(60px);
  }
}