.post-single {
  padding: rem(200px 0);

  &__title {
    @include heading(2);
    margin-bottom: rem(200px);
    hyphens: auto;

    @include media('>tiny') {
      hyphens: none;
    }
  }

  &__content {
    @include wysiwyg;
  }
}