// Stacking
// $zindex-nav: 100;

:root {
  --c-text: #023047;
  --c-white: #FFFFFF;
  --c-primary: #CCEED3;
  --c-secondary: #CCDCEE;
  --c-light: #E2E2E2;
  --ff-primary: 'Montserrat', sans-serif;
  --fw-bold: 700;
  --fw-normal: 400;
  --fw-regular: 400;
  --fw-semi: 600;
  --fz-body: rem(21px);
}

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark: #023047;
$color-green: #CCEED3;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-normal: $fw-regular; // alias
$fw-book: $fw-regular;   // alias
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Fonts
$ff-open-sans: 'Open Sans', sans-serif;

// Media query sizes
$breakpoints: (
  'tiny': rem(475px),
  'small': rem(768px),
  'smedium': rem(1024px),
  'medium': rem(1280px),
  'large': rem(1440px),
  'xlarge': rem(1600px)
);

$unit-intervals: (
  'px': 1,
  'em': .0625,
  'rem': .0625,
  '': 0
);

