.review-content {
  margin-bottom: rem(80px);

  @include media('>medium') {
    max-width: width(900, '%');
  }

  &__title {
    @include heading(2);
    margin-bottom: rem(50px);
  }

  &__text {
    @include wysiwyg;
  }
}